*{
border: 0;
padding: 0;
margin: 0;
}

/* HEADER STYLES */

header {
  background-color: #03a3df;
  margin: 0;
  padding: 0;
  width: 100%;
}

.headertext {
  font-family: "Arial Bold", sans-serif;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

.bigarrow {
  width: 500px;
  float: right;
}

.logoimg {
  width: 250px;
}

/* NAVIGATION STYLES*/

ul {
  width: 100%;
  background-color: #444444;
  overflow: hidden;
}

li {
   display: inline-block;
 }

 li a {
   text-decoration: none;
   text-transform: uppercase;
   font-family: "Arial Bold", sans-serif;
   font-size: 17px;
   color: #ecb722;
   display: block;
   padding: 20px 30px 20px 30px;
 }

 li a:hover {
   background-color: #828282;
 }

 .bullseye {
   width: 50px;
 }

/* GRID STYLES */

.grid-container {
  display: grid;
  grid-template-columns: 50% 20%;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  align-content: center;
}

.grid-item1 {
grid-row-start: 1;
grid-row-end: 2;
}

/* WELCOME SECTION */

.welcomesection {
  border: 3px solid #1b447f;
  margin: 10px;
}

.wheaderlarge {
  font-family: "Arial Bold", sans-serif;
  font-size: 24px;
  color: #1b447f;
  text-transform: uppercase;
  padding: 15px;
}

.wheadersmall {
  font-family: "Arial Bold", sans-serif;
  font-size: 17px;
  color: #1b447f;
  text-transform: uppercase;
  padding: 5px;
}

.w1,.w2 {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #1b447f;
  padding: 15px;
}

/* CLASSES */

.classessection {
  border: 1px solid #1b447f;
  margin: 10px;
}

.classheader {
  background-color: #444444;
  color: #ecb722;
  font-family: "Arial Bold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px;
}

.smallheader {
  font-family: "Arial Bold", sans-serif;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
  padding: 5px;
}

.classes {
  border: 2px solid #1b447f;
}

.classes p {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #444444;
  padding: 10px;
}

/* MEET GIAP */

.giap {
  display: block;
  align-items: center;
  padding-left: 100px;
}

.giapheader {
  font-family: "Arial Bold", sans-serif;
  font-size: 17px;
  color: #ecb722;
  text-transform: uppercase;
  padding: 5px;
}

.giap p {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #444444;
    padding: 10px;
    border: .5px dashed #444444;
  }


/* USER TESTIMONIES */

.testimony {
  font-family: "Arial Regular", sans-serif;
  font-size: 30px;
  color: #03a3df;
}

.username {
  font-family: "Arial Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #03a3df;
  text-transform: uppercase;
}

/* VIDEO */

.video {
  display: inline-block;
  margin-left: 700px;
  margin-right: auto;
}

/* PRIVATE LESSONS STYLES */

.lesson {
  background-color: #444444;
  color: #ecb722;
  font-family: "Arial Bold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  padding: 15px;
    margin-top: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: 1.5px solid #444444;
  margin-bottom: 40px;
}

.flex-container div {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #444444;
  padding: 10px;
  border-right: 1.5px solid #444444;
  width: 100%;
}

.price {
  color: #ecb722;
  font-weight: bold;
}

/* ----------------------------------------------------------------------------------------------------------

INSTRUCTORS PAGE STYLES

INTRODUCTION */

.staffmainheader {
  font-family: "Arial Bold", sans-serif;
  font-size: 40px;
  color: #444444;
  text-transform: uppercase;
  padding: 15px;
}

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.introinfo {
  margin-top: 50px;
  margin-right: 200px;
  padding: 30px;
  background-color: #444444;
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: white;
}

.bigbullseye {
  margin: 30px;
  padding: 20px;
}

/* PROFILES STYLES */

.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 60%;
}

.instructor {
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #1b447f;
  padding: 10px;
  border: 1px dashed #cccccc;
  width: 100%;
  margin: 30px;
  padding: 30px;
}

/* BOTTOM IMAGE */

.bottomimage {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottomimage img {
  width: 500px;
}

/* MEET UP */

.meetup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial Bold", sans-serif;
  font-size: 24px;
  color: #444444;
  text-transform: uppercase;
  width: 40%;
}

 /* FOOTER STYLES */

footer {
  background-image: url("https://imgur.com/rvEka7R.jpg");
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Arial Bold", sans-serif;
  font-size: 10px;
  color: white;
}

.footerbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #444444;
  padding: 50px;
  margin-left: 700px;
}

.footerlogo {
  width: 150px;
  padding-bottom: 15px;
}

.footeraddress {
  padding-bottom: 15px;
}

.footerdisc {
  font-style: italic;
  padding-bottom: 10px;
}
